.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

/* Add this to ensure grid items are the same height */
.productList > * {
  height: 100%;
  display: flex;
}

@media (max-width: 1024px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .productList {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
