/* index.css (global) */
:root {
  --primary-color: #000; /* “Black” for Buck Mason style */
  --secondary-color: #fff;
  --text-color: #333;
  --light-gray: #eee;
  --max-width: 1200px;

  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
